@using Humanizer;
@using Microsoft.AspNetCore.Identity;
@model VotingApp.Models.Idea
@inject UserManager<Member> _userManager;
@inject SignInManager<Member> _signInManager;
@{
    // string variables to use if comment belongs to an Admin
    string isAdmin = "is-admin";
    string textPrimary = "text-primary";
    string textSecondary = "text-secondary";


    // set text colors for moderated posts
    string textModerated = "text-danger opacity-50";
    string textBlack = "text-black";

    var getUserRole = await _userManager.GetUserAsync(User);

}

<!-- Comments START -->
@{
    foreach (var comment in Model.Comments.OrderByDescending(c => c.UpdatedDate))
    {
        double timestamp = comment.CreatedDate.ToOADate();
        var timeSpan = DateTime.FromOADate(timestamp).AddMicroseconds(-timestamp).Humanize();

        string setGradientColor = $"gradient-status-{Model.CurrentStatus}";

        <div class="@if (comment.Member.UserRole == "admin") { @isAdmin } comment-container position-relative row mb-2">
            <div class="col-1">
                <!--left side leave empty -->
            </div>
            <div class="col ms-1">
                <div class="@if (comment.Member.UserRole == "admin"  ) { @setGradientColor } card-single mb-3 border-0 rounded-5 shadow-sm @Model.CurrentStatus">
                    <div class="row g-0">
                        <div class="AVATAR-IMAGE col-md-1 ms-2 pt-3 text-center">
                            <img src="~/uploads/avatars/@comment.Member.AvatarFileName" alt="avatar" class="avatar rounded-3" />
                            @if (comment.Member.UserRole == "admin")
                            {
                                <span class="small text-primary fw-bold p-1 text-uppercase">admin</span>
                            }
                            @if(comment.MemberId == Model.MemberId)
                            {
                                <span class="small text-danger fw-bold p-1 text-uppercase">OP</span>

                            }
                        </div>
                        <div class="CARD-DETAILS col ms-1">
                            <div class="card-body mb-3">            
                     
                                @{
                                    if(_signInManager.IsSignedIn(User) && getUserRole.UserRole == "admin")
                                    {
                                        if(comment.SpamReports != 0) 
                                        { 
                                            <div class="text-danger mb-1 text-uppercase">spam reports: @comment.SpamReports</div>
                                        }                                        
                                    }
                                } 
                                <p class="card-text @if(comment.IsModerated) { @textModerated } else { @textBlack }">@comment.Body</p>
                            </div>
                            <div class="d-flex bd-highlight mb-3">
                                <div class="FIRSTNAME 
                                @if (comment.Member.UserRole == "admin") { @textPrimary } 
                                @if (comment.Member.UserRole != "admin") { @textSecondary } ps-3 bd-highlight fw-bold ">@comment.Member.FirstName</div>
                                <div class="TIMESTAMP px-3 bd-highlight text-secondary opacity-50">@timeSpan</div>
                                <div class="bd-highlight ms-auto pe-3 dropdown">
                                @if(_signInManager.IsSignedIn(User))
                                    {                                        
                                    <button class="three-dots border-0 rounded-5" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots" viewBox="0 0 16 16">
                                            <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z" />
                                        </svg>
                                    </button>
                                    <ul class="dropdown-menu border-0 shadow" aria-labelledby="dropdownMenuButton1">
                                        <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#spamCommentModal-@comment.Id">Mark as Spam</a></li>
                                            @{
                                                if(_signInManager.IsSignedIn(User) && getUserRole.UserRole == "admin" && comment.SpamReports != 0)
                                                {
                                                    <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#notSpamCommentModal-@comment.Id">Not Spam</a></li>
                                                }
                                                if (_signInManager.IsSignedIn(User) && getUserRole.UserRole == "admin")
                                                {
                                                    <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#moderateCommentModal-@comment.Id">Moderate Comment</a></li>
                                                     <form asp-action="DeleteComment" asp-controller="Comments">
                                                        <input type="hidden" name="Id" value="@comment.Id"/>
                                                        <input type="hidden" name="IdeaId" value="@Model.Id"/>
                                                        <li><button type="submit" class="dropdown-item">Delete Comment</button></li>
                                                    </form>
                                                }
                                                if (comment.Member.Id == _userManager.GetUserId(User) && comment.IsModerated == false)
                                                {
                                                    <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#editCommentModal-@comment.Id">Edit Comment</a></li>
                                                    <form asp-action="DeleteComment" asp-controller="Comments">
                                                        <input type="hidden" name="Id" value="@comment.Id"/>
                                                        <input type="hidden" name="IdeaId" value="@Model.Id"/>
                                                        @{string displayNone = "none";}
                                                        <li><button type="submit" class="dropdown-item"  style=" display: @if (getUserRole.UserRole == "admin") { @displayNone } ">Delete   Comment</button></li>
                                                    </form>
                                                }
                                            }
                                    </ul>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Spam Modal START -->
        <div class="modal" id="spamCommentModal-@comment.Id" tabindex="-1" aria-labelledby="spamCommentModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Report as Spam?</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Would you like to report this comment as spam?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <form asp-action="ReportSpamComment" asp-controller="Spams">
                            <input type="hidden" name="Id" value="@comment.Id" />
                            <input type="hidden" name="IdeaId" value="@Model.Id" />
                            <input type="hidden" name="SpamReports" value="@comment.SpamReports"/>


                            <button type="submit" class="btn btn-danger">Report spam</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Spam Model END -->

        <!-- NotSpam Modal START -->
        <div class="modal" id="notSpamCommentModal-@comment.Id" tabindex="-1" aria-labelledby="notSpamModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Mark as not spam?</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        This will reset the counter to 0. Are you sure you would like to perform this action?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <form asp-action="ResetSpamCommentCounter" asp-controller="Spams">
                            <input type="hidden" name="Id" value="@comment.Id" />
                            <input type="hidden" name="IdeaId" value="@Model.Id" />
                            <input type="hidden" name="SpamReports" value="@comment.SpamReports" />
                            <button type="submit" class="btn btn-info text-white">Reset</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- NotSpam Model END -->

        <!-- Edit Modal START -->
        <form asp-action="EditComment" asp-controller="Comments">
            <input type="hidden" name="Id" value="@comment.Id" />
            <input type="hidden" name="IdeaId" value="@comment.IdeaId" />
            <input type="hidden" name="MemberId" value="@comment.MemberId" />

            <div class="modal" id="editCommentModal-@comment.Id" tabindex="-1" aria-labelledby="editCommentModal-@comment.Id" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5">Edit comment?</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <textarea class="form-control bg-gray-100" rows="8" name="Body">@comment.Body</textarea>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-warning">Update Comment</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <!-- Edit Model END -->

        <!-- Moderate Modal START -->
        <form asp-action="ModerateComment" asp-controller="Comments">
            <input type="hidden" name="Id" value="@comment.Id" />
            <input type="hidden" name="IdeaId" value="@comment.IdeaId" />

            <input type="hidden" name="MemberId" value="@comment.MemberId" />

            <div class="modal" id="moderateCommentModal-@comment.Id" tabindex="-1" aria-labelledby="moderateCommentModal-@comment.Id" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5">Edit comment?</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <textarea class="form-control bg-gray-100" rows="8" name="Body">Content has been removed by an Admin.</textarea>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-warning">Update Comment</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <!-- Moderate Model END -->



    }
}

<!-- Comments END-->


