@using VotingApp.Helpers;
@using Humanizer;
@using Microsoft.AspNetCore.Identity;
@using VotingApp.Data;
@model VotingApp.Models.Idea
@inject UserManager<Member> _userManager;
@inject SignInManager<Member> _signInManager;
@inject ApplicationDbContext _context;


@{
    // convert timespan to human readable
    var timeSpan = new HelperMethods(_context).ConvertTimeSpan(Model);

    // set text colors for moderated posts
    string textModerated = "text-danger opacity-50";
    string textBlack = "text-black";

    // check if user voted
    var getMemberVote = _context.Vote
        .Where(v => v.IdeaId == Model.Id && v.MemberId == _userManager.GetUserId(User))
        .ToList();

    // get category context
    var category = _context.Category.ToList();

    // get user properties
    var getUserRole = await _userManager.GetUserAsync(User);      

    // get vote count
    var voteCount = Model.Votes.Where(vote => vote.IdeaId == Model.Id).Count();

    // get comment count
    var commentCount = Model.Comments.Where(c => c.IdeaId == Model.Id).Count();

    // disable vote button
    var disableButton = "disabled";
}

<!-- Breadcrumbs START-->
<div class="d-flex align-items-center fw-bold text-black mb-3">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left me-2" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
    </svg>
    <a href="~/" class="fw-bold text-decoration-none text-black">All Ideas</a><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left me-2 ms-2" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
    </svg>
    @Model.Title
</div>
<!-- Breadcrumbs END-->

<partial name="_DisplayMessage" />

<!-- Card START -->
<div class="card-single mb-3 border-0 rounded-5 shadow-sm">
    <div class="row g-0">
        <div class="col-md-1 p-3 ms-2">
            <img src="~/uploads/avatars/@Model.Member.AvatarFileName" alt="avatar" class="avatar rounded-3" />
        </div>
        <div class="col ms-1">
            <div class="card-body mb-3">
                @if(_signInManager.IsSignedIn(User) && getUserRole.UserRole == "admin")
                {
                    // display spam count if more than 0. User must be in the admin role to see.
                    if(Model.SpamReports != 0) { <div class="text-danger mb-1 text-uppercase">spam reports: @Model.SpamReports</div> }
                }
                <h5 class="card-title">@Model.Title</h5>
                <p class="card-text @if(Model.IsModerated) { @textModerated } else { @textBlack }">@Model.Description</p>
            </div>
            <div class="d-flex bd-highlight mb-3">
                <div class="ps-3 bd-highlight text-secondary fw-bold">@Model.Member.FirstName</div>
                <div class="px-3 bd-highlight text-secondary opacity-50">@timeSpan</div>
                <div class="px-3 bd-highlight text-secondary opacity-50">@Model.Category.Name</div>
                <div class="bd-highlight text-dark">@commentCount Comments</div>
                    @{ // checks status of the post and displays the button colors accordingly
                        if (Model.CurrentStatus == "open")
                        {
                            <div class="ms-auto bd-highlight pe-2"><button class="status-open border-0 rounded-5">Open</button></div>
                        }
                        if (Model.CurrentStatus == "considering")
                        {
                            <div class="ms-auto bd-highlight pe-2"><button class="status-considering border-0 rounded-5">Considering</button></div>
                        }
                        if (Model.CurrentStatus == "in-progress")
                        {
                            <div class="ms-auto bd-highlight pe-2"><button class="status-in-progress border-0 rounded-5 text-white">In Progress</button></div>
                        }
                        if (Model.CurrentStatus == "implemented")
                        {
                            <div class="ms-auto bd-highlight pe-2"><button class="status-implemented border-0 rounded-5 text-white">Implemented</button></div>
                        }
                        if (Model.CurrentStatus == "closed")
                        {
                            <div class="ms-auto bd-highlight pe-2"><button class="status-closed border-0 rounded-5 text-white">Closed</button></div>
                        }
                    }
                    @if(_signInManager.IsSignedIn(User))
                    {
                        <div class="bd-highlight pe-3 dropdown">
                            <button class="three-dots border-0 rounded-5" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots" viewBox="0 0 16 16">
                                    <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z" />
                                </svg>
                            </button>
                            <ul class="dropdown-menu border-0 shadow" aria-labelledby="dropdownMenuButton1">
                                <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#spamModal-@Model.Id">Mark as Spam</a></li>                                
                                    @if (getUserRole.UserRole == "admin" && Model.SpamReports != 0 )
                                    {
                                        // display the Not Spam dropdown item only if user is an admin
                                        // and spam count is more than 0
                                        <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#notSpamModal-@Model.Id">Not Spam</a></li>
                                    }
                                    @if (getUserRole.UserRole == "admin")
                                    {
                                        // display the Moderate Post dropdown item only if user is an admin
                                        <li><button type="button" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#moderateModal-@Model.Id">Moderate Post</button></li>
                                    }
                                    @if (Model.MemberId == _userManager.GetUserId(User))
                                    {
                                        @if (!Model.IsModerated)
                                        {
                                            // only allow user to edit post if post is not moderated
                                            // otherwise if post is moderated the user will not see this dropdown item
                                            <li><button type="button" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#editModal-@Model.Id">Edit Post</button></li>
                                        }
                                        // current user may delete own post
                                        <li><button type="button" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#deleteModal-@Model.Id">Delete Post</button></li>
                                    }                                
                            </ul>
                        </div>
                    }
            </div>
        </div>
    </div>
</div>
<!-- Card END -->

<!-- Buttons START-->
<div class="d-flex bd-highlight mb-3">
    <div class="bd-highlight dropdown">
        <button class="blue-button text-white border-0 rounded-5 " href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Reply
        </button>
        <ul class="dropdown-menu border-0 rounded-5 shadow-sm mt-1">
            <li style="width:450px" class="border-0">
                <form asp-action="AddComment" asp-controller="Comments">
                    <input type="hidden" name="MemberId" value="@_userManager.GetUserId(User)" />
                    <input type="hidden" name="IdeaId" value="@Model.Id"/>
                    <div class="modal-body rounded-5 mb-0">
                        <div class="mb-0">
                            <textarea name="Body" class="form-control-idea border-0 bg-gray-100" rows="4" required></textarea>
                        </div>
                    </div>
                    <div class="d-flex border-0 ms-3 mb-3 mt-2">
                        <button type="submit" class="blue-button border-0 rounded-5 text-white col-5 me-3">Post Comment</button>
                    </div>
                 </form>
            </li>
        </ul>
    </div>

@{
    // display Set-Status dropdown if signed in user is an admin
    if (_signInManager.IsSignedIn(User) && getUserRole.UserRole == "admin")
    {
        <div class="px-3 bd-highlight dropdown">
            <button class="grey-button border-0 rounded-5 dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Set Status
            </button>
            <ul class="dropdown-menu border-0 rounded-5 shadow-sm mt-1">
                <li style="width:350px" class="border-0 p-3 pb-0">
                    <form asp-action="SetStatus" asp-controller="ideas">
                        <input type="hidden" name="Id" value="@Model.Id">
                        <input type="hidden" name="Slug" value="@Model.Slug">
                        <input type="hidden" name="Title" value="@Model.Title">
                        <input type="hidden" name="Description" value="@Model.Description">
                        <input type="hidden" name="CategoryId" value="@Model.CategoryId">
                        <input type="hidden" name="MemberId" value="@Model.MemberId">
                        <select name="CurrentStatus" class="form-select border-1 border-info text-secondary fw-bold" aria-label=".form-select-sm example" required>
                            <option class="text-muted fw-bold" value="open" selected>Open</option>
                            <option class="text-warning fw-bold" value="considering">Considering</option>
                            <option class="text-primary fw-bold" value="in-progress">In Progress</option>
                            <option class="text-success fw-bold" value="implemented">Implemented</option>
                            <option class="text-danger fw-bold" value="closed">Closed</option>
                        </select>
                        <div class="modal-body rounded-5 p-0 pt-3">
                            <div class="mb-0">
                                <textarea name="Body" class="form-control-idea border-1 border-light" rows="4">Status has been changed</textarea>
                            </div>
                        </div>
                        <div class="border-0 mb-3 mt-3">
                            <button type="submit" class="blue-button border-0 rounded-5 text-white col me-auto" data-bs-dismiss="modal">Update</button>
                        </div>
                    </form>
                </li>
            </ul>
        </div>
    }
}
    <div class="ms-auto bd-highlight me-3">
        <div class="text-center border-0 bg-white px-2 py-1 rounded-5">
            <div>
                @if (getMemberVote.Count() == 0)
                {
                    // leave text class on default if user has not voted
                    <h6 class="mb-0 fw-bold">@voteCount</h6>
                }
                @if (getMemberVote.Count() != 0)
                {
                    // change text clas if user already voted
                    <h6 class="mb-0 fw-bold text-voted">@voteCount</h6>                    
                }
            </div>
            <div><p class="mb-0 small text-secondary">Votes</p></div>
        </div>
    </div>
    <div class="bd-highlight dropdown">
         @{
            if(getMemberVote.Count == 0)
            {
                // add to vote count if the user has not voted yet
                <form asp-action ="AddVoteDetails" asp-controller="Votes">
                    <input type="hidden" name="Id" value="@Model.Id" />
                    <input type="hidden" name="Title" value="@Model.Title" />
                    <input type="hidden" name="Slug" value="@Model.Slug" />
                    <input type="hidden" name="CategoryId" value="@Model.Category.Id" />
                    <input type="hidden" name="Description" value="@Model.Description" />
                    <input type="hidden" name="MemberId" value="@_userManager.GetUserId(User)"/>                    
                    <button type="submit" class="vote-button-details border-0 rounded-5" 
                    @if(Model.CurrentStatus == "closed") 
                    {
                        // disable the button if post status is closed
                        @disableButton
                    }>Vote</button>
                </form>
            }
            if(getMemberVote.Count != 0)
            {
                // remove the vote count if user already voted
                <form asp-action="RemoveVoteDetails" asp-controller="Votes">
                    <input type="hidden" name="Id" value="@Model.Id" />
                    <input type="hidden" name="Title" value="@Model.Title" />
                    <input type="hidden" name="Slug" value="@Model.Slug" />
                    <input type="hidden" name="CategoryId" value="@Model.Category.Id" />
                    <input type="hidden" name="Description" value="@Model.Description" />
                    <input type="hidden" name="MemberId" value="@_userManager.GetUserId(User)" />
                    <button type="submit" class="remove-vote-button-details border-0 rounded-5 text-white text-uppercase" 
                    @if(Model.CurrentStatus == "closed") 
                    {
                        // disable the button if post status is closed
                        @disableButton
                    }>Voted</button>
                </form>
            }
        }
    </div>
</div>
<!-- Buttons END -->

<!-- Comment Container START -->
<div class="comments-container position-relative">
    <partial name="_CommentCard" />
</div>
<!-- Comment Container END -->



<!-- Spam Modal START -->
<div class="modal" id="spamModal-@Model.Id" tabindex="-1" aria-labelledby="spamModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Report as Spam?</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Would you like to report this post as spam?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <form asp-action="ReportSpam" asp-controller="Spams">
                    <input type="hidden" name="Id" value="@Model.Id" />
                    <input type="hidden" name="SpamReports" value="@Model.SpamReports"/>
                    <button type="submit" class="btn btn-danger">Report spam</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Spam Model END -->

<!-- NotSpam Modal START -->
<div class="modal" id="notSpamModal-@Model.Id" tabindex="-1" aria-labelledby="notSpamModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Mark as not spam?</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                This will reset the counter to 0. Are you sure you would like to perform this action?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <form asp-action="ResetSpamCounter" asp-controller="Spams">
                    <input type="hidden" name="Id" value="@Model.Id" />
                    <input type="hidden" name="SpamReports" value="@Model.SpamReports" />
                    <button type="submit" class="btn btn-info text-white">Reset</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- NotSpam Model END -->


<!-- Delete Modal START -->
<div class="modal" id="deleteModal-@Model.Id" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Delete post?</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete your post? You can't undo this.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                <form asp-action="DeleteIdea" asp-controller="ideas">
                    <input type="hidden" name="Id" value="@Model.Id" />
                    <button type="submit" class="btn btn-danger">Delete post</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Delete Model END -->

<!-- Moderate Modal START -->
<form asp-action="ModerateIdea" asp-controller="ideas">
    <input type="hidden" name="Id" value="@Model.Id" />
    <input type="hidden" name="MemberId" value="@Model.MemberId" />
    <input type="hidden" name="CategoryId" value="@Model.CategoryId" />
    <input type="hidden" name="Title" value="@Model.Title" />

    <div class="modal" id="moderateModal-@Model.Id" tabindex="-1" aria-labelledby="moderateModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">Moderate post?</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                    <div class="modal-body">
                    <textarea class="form-control bg-gray-100" rows="8" name="Description">Content has been removed by an Admin.</textarea>
                    </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-warning">Update post</button>
                </div>
            </div>
        </div>
    </div>
</form>
<!-- Moderate Model END -->

<!-- Edit Modal START -->
<form asp-action="Edit" asp-controller="ideas">
    <input type="hidden" name="Id" value="@Model.Id" />
    <input type="hidden" name="MemberId" value="@Model.MemberId" />

    <div class="modal" id="editModal-@Model.Id" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">Edit post?</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <label class="text-secondary mb-1 ps-1">Title</label>
                    <input type="text" name="Title" class="form-control bg-gray-100 mb-3" value="@Model.Title" required/>
                    <label class="text-secondary mb-1 ps-1">Description</label>
                    <select name="CategoryId" class="form-select bg-gray-100 border-0 text-secondary mb-3" aria-label=".form-select-sm example" required>
                        <option selected disabled value="">Choose a Category</option>
                        @{
                            //display list of categories
                            foreach (var catName in category)
                            {
                                <option value="@catName.Id">@catName.Name</option>
                            }
                        }
                    </select>
                    <textarea class="form-control bg-gray-100" rows="8" name="Description" required>@Model.Description</textarea>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-warning">Update post</button>
                </div>
            </div>
        </div>
    </div>
</form>
<!-- Edit Model END -->